@{
    ViewData["Title"] = "Index";
}


@using MVCApp.Data
@model List<Student>

<div class="container mt-3">
    <div class="row justify-content-end">
        <div class="col-2 text-end">
            <a asp-controller="Student" asp-action="Create" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Yeni Kayıt
            </a>
        </div>
    </div>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th class="bg-black text-white">
                    Ad
                </th>
                <th class="bg-black text-white">
                    Soyad
                </th>
                <th class="bg-black text-white">
                    Telefon
                </th>
                <th class="bg-black text-white">
                    İşlemler
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.SurName</td>
                    <td>@item.PhoneNumber</td>
                    <td>
                        <a asp-controller="Student" asp-action="Update" asp-route-id="@item.Id" class="btn btn-secondary">Düzenle</a>
                        &nbsp;
                        <a asp-controller="Student" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
