@{
    ViewData["Title"] = "Index";
}



@model List<Course>
<div class="container-fluid">

    <div class="row mt-2">

        <div class="col-5">
            <!-- form üzerinden querystring ile arama yapmak için form method get kullandık. -->
            <form method="get" asp-controller="Course" asp-action="Index">
                <div class="input-group">
                    <input class="form-control" name="aranan" value="@ViewBag.Aranan" placeholder="Arama yapınız" />
                    <div class="input-group-addon">
                        <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-3">
            <form method="get" asp-action="Index" asp-controller="Course">
                <input type="hidden" name="aranan" value="@ViewBag.Aranan" />
                <input type="hidden" name="sayfa" value="@ViewBag.Sayfa" />
                <!-- bir önceki viewbag değerlerini sıralamada kaybetmemek için hidden input ile aranan ve sayfa viewbag değerlerini gönderdik. -->
                <select class="form-select" name="fiyatSiralama" onchange="this.form.submit()">
                    <option selected value="">Fiyata göre sırala</option>
                    <option value="asc">Fiyata göre azaldan artana</option>
                    <option value="desc">Fiyata göre artandan azalana</option>
                </select>

                @* @Html.DropDownList("fiyatSiralama",new List<SelectListItem>{ new SelectListItem{ Text = "A-Z", Value = "Asc"}, new SelectListItem { Text = "Z-A", Value= "Desc"}},"Fiyata Göre Sırala",  new { onchange="this.form.submit();"})*@
            </form>
        </div>

        <div class="col-2">
            <a asp-controller="Course" asp-action="Index" class="btn btn-primary">
                <i class="fa fa-times"></i>
                Temizle
            </a>
        </div>

        <div class="col-2 text-end">
            <a asp-controller="Course" asp-action="Create" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Yeni Kayıt
            </a>
        </div>

    </div>

    <table class="table table-sm table-hover mt-3 fs-6">
        <thead>
            <tr>
                <th class="bg-black text-white">
                    Kurs İsmi
                </th>
                <th class="bg-black text-white">
                    Kurs İçeriği
                </th>

                <th class="bg-black text-white">
                    Fiyat
                </th>

                <th class="bg-black text-white">
                    Başlangıç / Bitiş
                </th>
                <th class="bg-black text-white">
                    Kurs Eğitmen
                </th>
                <th class="bg-black text-white">
                    Kursiyerler
                </th>
                <th class="bg-black text-white">
                    İşlemler
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Content</td>

                    <td>@item.Price ₺</td>
                    <td>@item.StartDate.Value.ToShortDateString() / @item.EndDate.Value.ToShortDateString()</td>
                    <td>@(item.CourseTeacher?.Name + " " + @item.CourseTeacher?.SurName)</td> <!--Student/Delete/1 Student/Update/3-->
                    <td>@string.Join(", ",item?.CourseStudents?.Select(a=> a.Name + " " + a.SurName).ToArray())</td> <!--Student/Delete/1 Student/Update/3-->
                    <td>
                        <a class="btn btn-sm btn-warning" asp-controller="Course" asp-action="AssingTeacherToCourse" asp-route-id="@item.Id">Eğitmen Atama Yap</a>
                        <a class="btn btn-sm btn-primary" asp-controller="Course" asp-action="AddStudent" asp-route-courseId="@item.Id">Kursa Öğrenci Ekle</a>
                        <a asp-controller="Course" asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Düzenle</a>
                        &nbsp;
                        <a asp-controller="Course" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>



                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Course" asp-route-sayfa="@ViewBag.OncekiSayfa" asp-route-aranan="@ViewBag.Aranan" asp-route-fiyatSiralama="@ViewBag.fiyatSiralama">Önceki</a></li>
            @for (int i = 1; i <= ViewBag.SayfaSayisi; i++)
            {
                // anasayafayı farklı değerlere göre açmak istiyorsa queryString kullanırız.
            // sayafaya parametre gönderme yöntemi
                // Course/Index?sayfa=1&aranan=mvc&sira=a-z
                // Course/Index?sayfa=1
                // querystring url üzerinden veri filtereleme yöntemi.
                <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Course" asp-route-sayfa="@i" asp-route-aranan="@ViewBag.Aranan" asp-route-fiyatSiralama="@ViewBag.fiyatSiralama">@i</a></li>
            }
            <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Course" asp-route-sayfa="@ViewBag.SonrakiSayfa" asp-route-aranan="@ViewBag.Aranan" asp-route-fiyatSiralama="@ViewBag.fiyatSiralama">Sonraki</a></li>



        </ul>
    </nav>

</div>